<a href="https://colab.research.google.com/github/suraim001/Python_Programming/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print: Hello World

In [ ]:
print("Hello World")
wish = "Hello World"
print(wish)
age = 22
age

Hello World
Hello World

22

#Data type
1. string
2. int
3. bool
4. float

In [ ]:
print(5)

5

In [ ]:
print(type(5))

<class 'int'>

In [ ]:
print(type("Hello World"))

<class 'str'>

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
print(type(10.5))

<class 'float'>

In [ ]:
name = "Maisha"
print(name + " got GPA 5. Congratulations to " + name)

Maisha got GPA 5. Congratulations to Maisha

In [ ]:
Name = input ("Please give your name: ")
print(Name + " got GPA 5. Cogratulations to " + Name)

Please give your name: Suraim
Suraim got GPA 5. Cogratulations to Suraim

In [ ]:
a = float(input("Enter a number: "))
b = float(input("Enter another number: "))
result = int(a+b)
print((result))

Enter a number: 23
Enter another number: 67
90

In [ ]:
print(5>7)
print(bool("haha"))
print(bool(""))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(True))
print(bool(False))
print(bool([]))
print(bool({}))
print(bool(()))
print(bool(-1))
print(bool(5))

False
True
False
True
False
False
True
False
False
False
False
True
True

#operators

1. Arithmetic Operators(+ , - , * , / , % , **(power))
2. Comparison/Relational Operators(==,<=,>=,<,>,!=)
3. Assignment Operators(=,+=,-=,*=,/=,%=,**=, &=,|=,^=,>>=,<<=)
4. Logical Operators(and, or, not)
5. Identity Operators(is, is not)
6. Membership Operators(in, not in)
7. Bitwise Operators(&,|,^,~,<<,>>)

In [ ]:
p = 9
q = 4
print(p+q)
print(p-q)
print(p*q)
print(p/q)
print(p%q)
print(p**q)

13
5
36
2.25
1
6561

In [ ]:
print(p==q)
print(p<=q)
print(p>=q)
print(p<q)
print(p>q)
print(p!=q)

False
False
True
False
True
True

In [ ]:
p+=q
print(p)
p-=q
print(p)
p*=q
print(p)
p/=q
print(p)
p%=q
print(p)
p**=q
print(p)
#p&=q
#print(p)
#p|=q
#print(p)
#p^=q
#print(p)
#p>>=2
#print(p)
#p<<=2
#print(p)

13
9
36
9.0
1.0
1.0

In [ ]:
a=5
# & -> and
if (a<7 and a>3):
  print("True")
else:
  print("False")

b = 8
# | -> or
if (b<7 or b>3):
  print("True")
else:
  print("False")

c = 5
# ! -> not
if (not(c<7 and c>3)):
  print("True")
else:
  print("False")

True
True
False

In [ ]:
m = 11; n = 19;
print(m&n)
print(m|n)
print(m^n)
print(~m)
print(m>>2)
print(m<<2)

3
27
24
-12
2
44

# List

Declaration:
variableName = [None]*size
/
variableNAme = []

Initialization:
variableName = [int, float, string]

# Set

Declaration:
variableName = {}

initialization:
variableName = {int,float,string}

Order of the elements of a set:
Integer > String > Float

### Set can be converted to list.
Some changes can be occured in a set.


A Set/List can contain multiple integer numbers, float numbers or strings in it. Furthermore A List can contain multiple sets or lists inside it.
But every elements of a list has an index while the elements of a set doesn't.
A list can have higher dimentions.but a set will always be 1D. That means, a list can contain multiple list or set inside of it but a set couldn't.

In [ ]:
#List
li1 = [1,2,4,6]
print(li1)

li1.append(16)
print(li1)

li1.append("Suraim")
print(li1)

li1.remove(2)
print(li1)

print(len(li1))

#Set
x = {2, 4, 6}
print(x)
print(len(x))
x.add("Towanur")
print(x)
x.remove(4)
print(x)
x.clear()
print(x)
x.add(76)
x.add(53)
y = {1,2,3,4}
x.update(y)
print(x)
z = list(x)
print(z)
del(x)
#print(x) -> (Error: x is not defined)

[1, 2, 4, 6]
[1, 2, 4, 6, 16]
[1, 2, 4, 6, 16, 'Suraim']
[1, 4, 6, 16, 'Suraim']
5
{2, 4, 6}
3
{2, 4, 'Towanur', 6}
{2, 'Towanur', 6}
set()
{1, 2, 3, 4, 53, 76}
[1, 2, 3, 4, 53, 76]

#Indexing

1. Left to Right: 0,1,2,3...
2. Right to Left: -1,-2,-3...

In [ ]:
li1[0] = 9
li1[-2] = "Towanur"
print(li1)
li1[-1],li1[-2] = li1[-2],li1[-1]
print(li1)
#del(li1)
#print(li1) (Error: li1 is not defined)
li1.clear()
print(li1) #(All the elements will be deleted.Empty list will remain)

[9, 4, 6, 'Towanur', 'Suraim']
[9, 4, 6, 'Suraim', 'Towanur']
[]

In [ ]:
li2 = [1,23,4.5,"ST"]
print(li2)
li1.append(37)
sum = li1 + li2
print(sum)
li3 = []
li3.append({1,2,4,6.5,9,"ME"})
print(li3)
li3.append(li2)
print(li3)
li3.append(49)
print(li3)
s = {0,5.5,8,"Hi"}
print(s)

[1, 23, 4.5, 'ST']
[37, 1, 23, 4.5, 'ST']
[{1, 2, 'ME', 4, 6.5, 9}]
[{1, 2, 'ME', 4, 6.5, 9}, [1, 23, 4.5, 'ST']]
[{1, 2, 'ME', 4, 6.5, 9}, [1, 23, 4.5, 'ST'], 49]
{0, 8, 'Hi', 5.5}

#Tuple
one type of data structure

Declaration:
variableName = ()

Initialization:
variableName = (int, float, string)

### Tuple can be converted to list.
No changes can be occured in a tuple. That is why, a tuple is usually converted to a list.


#Dictionary

Declaration and initialization:
variableName = {keyword1:value1, keyword2:value2 ...}

every value can be access by its keyword in a dictionary. and it is changeable.

### Dictionary can be converted to list.

In [ ]:
#Tuple
tup1 = (0,4,3,0.5,"HI")
print(tup1)

#convertion
y = list(tup1)
print(y)
y[1] = 9
print(y)
tup1 = tuple(y)
print(tup1)

tup2 = list(tup1)
tup2.remove("HI")
print(tuple(tup2))
print(tuple(tup2[1:3])) #(print indexing:[startingIndex : endingIndex+1])

#Dictionary
dict1 = {"Shopping Mall" : "Top Ten", "Catagory" : "A", "Cost" : "Expensive"}
print(dict1)
print(dict1['Shopping Mall'])
dict1["Review"] = "Good"
print(dict1)
dict1["Cost"] = "Very Expensive"
print(dict1)
#print(dict1["Popularity"]) #*Error: KeyError
del(dict1["Review"])
print(dict1)
print(dict1.keys())
print(dict1.values())
print(dict1.items())
dict1.pop("Catagory")
print(dict1)
dict1.popitem() #Removes one item from Right Hand Side
print(dict1)
dict1.popitem()
print(dict1)
dict1["University"] = "CUET"
dict1["Department"] = "MIE"
dict1["Lab Facilities"] = "Very Good"
print(dict1)
dict1.update({"Lab Facilities" : "Good"})
print(dict1)
dict2 = dict1.copy()
print(list(dict2.keys()))
print(list(dict2.values()))
print(list(dict2.items()))
dict1.clear()
print(dict1)
del(dict1)
#print(dict1) #(Error: dict1 is not defined
#

(0, 4, 3, 0.5, 'HI')
[0, 4, 3, 0.5, 'HI']
[0, 9, 3, 0.5, 'HI']
(0, 9, 3, 0.5, 'HI')
(0, 9, 3, 0.5)
(9, 3)
{'Shopping Mall': 'Top Ten', 'Catagory': 'A', 'Cost': 'Expensive'}
Top Ten
{'Shopping Mall': 'Top Ten', 'Catagory': 'A', 'Cost': 'Expensive', 'Review': 'Good'}
{'Shopping Mall': 'Top Ten', 'Catagory': 'A', 'Cost': 'Very Expensive', 'Review': 'Good'}
{'Shopping Mall': 'Top Ten', 'Catagory': 'A', 'Cost': 'Very Expensive'}
dict_keys(['Shopping Mall', 'Catagory', 'Cost'])
dict_values(['Top Ten', 'A', 'Very Expensive'])
dict_items([('Shopping Mall', 'Top Ten'), ('Catagory', 'A'), ('Cost', 'Very Expensive')])
{'Shopping Mall': 'Top Ten', 'Cost': 'Very Expensive'}
{'Shopping Mall': 'Top Ten'}
{}
{'University': 'CUET', 'Department': 'MIE', 'Lab Facilities': 'Very Good'}
{'University': 'CUET', 'Department': 'MIE', 'Lab Facilities': 'Good'}
['University', 'Department', 'Lab Facilities']
['CUET', 'MIE', 'Good']
[('University', 'CUET'), ('Department', 'MIE'), ('Lab Facilities', 'Good')]
{}

#Conditionals
##if-else

if(condition):

  print(statement)

else:

  print(statement)

In [ ]:
r = float(input("Input a number: "))
s = float(input("Input another number: "))

if(r>s):
  print(str(r) + " is greater than " + str(s))
elif(r<s):
  print(str(s) + " is greater than " + str(r))

Input a number: 67.8
Input another number: 29.42
67.8 is greater than 29.42

In [ ]:
print("IQ Test\n")
i = int(input("Please give me the result of IQ Test:\n"))

if(i<50):
  print("Student is Avarage")
elif(i>=50 and i<70):
  print("Student is Good")
else:
  print("Student is Excellent")

IQ Test

Please give me the result of IQ Test:
45
Student is Avarage

In [ ]:
print("Triangle or not?\n")
a1 = int(input("Give the value of first side: "))
a2 = int(input("Give the value of second side: "))
a3 = int(input("Give the value of third side: "))

if(a1+a2>a3 and a1+a3>a2 and a2+a3>a1):
  print("\nIt is a Triangle.")
  if(a1==a2 and a1==a3):
    print("Moreover it is an Equilateral Triangle")
  elif(a1==a2 or a1==a3 or a2==a3):
    print("Moreover it is an Isosceles Triangle")

    if((a1**2 == a2**2 + a3**2) or (a2**2 == a1**2 + a3**2) or (a3**2 == a1**2 + a2**2)):
      print("Furthermore it is a Right angle Triangle")
  elif(a1!=a2 and a1!=a3 and a2!=a3):
    print("Moreover it is a Scalene Triangle")
    if((a1**2 == a2**2 + a3**2) or (a2**2 == a1**2 + a3**2) or (a3**2 == a1**2 + a2**2)):
      print("Furthermore it is a Right angle Triangle")

else:
  print("\nIt is not a Triangle")

Triangle or not

Give the value of first side: 10
Give the value of second side: 6
Give the value of third side: 8

It is a Triangle.
Moreover it is a Scalene Triangle
Furthermore it is a Right angle Triangle

In [ ]:
print("VOWEL OR CONSONENT?\n")
l = input("Enter any letter: ")
if(l=='a' or l=='e' or l=='i' or l=='o' or l=='u' or l == 'A' or l=='E' or l == 'I' or l == 'O' or l == 'U'):
  print(l + " is a Vowel.\n")
else:
  print(l + " is a Consonant.\n")

VOWEL OR CONSONENT?

Enter any letter: E
E is a Vowel.

#Loop

##for loop:
1. for i in list:

 print(i)
2. for i in  range(start,upto end,upgradation):

 print(statement)

##while loop:
i=0

while(i<n):

print(list[i])

i+=1 (loop will have n iteration)

In [17]:
list1 = [1,4,6,'H',"Hello", 7.98]

for i in range(len(list1)):
  print(list1[i])
print("")
for i in list1:
  print(i)
print("")
for i in range(5):
  print(i+1)
print("")
i = 0
while(i<len(list1)):
  print(list1[i])
  i+=1

1
4
6
H
Hello
7.98

1
4
6
H
Hello
7.98

1
2
3
4
5

1
4
6
H
Hello
7.98

In [20]:
for i in range(5,15,2):
  print(i)

5
7
9
11
13

In [25]:
#Print 1st 10 even number
e = 2
for i in range(10):
 print(e)
 e+=2

for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
2
4
6
8
10
12
14
16
18
20

list(): declares an empty list

In [31]:
list2 = list()

for i in range(1,6):
  list2.append(i)
  print(list2)
print("")
print(list2)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [36]:
course = int(input("Give the number of your theoretical course: "))
marks = list()

for i in range(course):
  marks.append(int(input("Give the marks of your course: ")))
  print(marks)

print("")
print("The maximum number you have got is " + str(max(marks)))
print("The minimum number you have got is " + str(min(marks)))

Give the number of your theoretical course: 4
Give the marks of your course: 23
[23]
Give the marks of your course: 83
[23, 83]
Give the marks of your course: 46
[23, 83, 46]
Give the marks of your course: 70
[23, 83, 46, 70]

The maximum number you have got is 83
The minimum number you have got is 23