<a href="https://colab.research.google.com/github/suraim001/Python_Programming/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print: Hello World

In [ ]:
print("Hello World")
wish = "Hello World"
print(wish)
age = 22
age

Hello World
Hello World

22

#Data type
1. string
2. int
3. bool
4. float

In [ ]:
print(5)

5

In [ ]:
print(type(5))

<class 'int'>

In [ ]:
print(type("Hello World"))

<class 'str'>

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
print(type(10.5))

<class 'float'>

In [ ]:
name = "Maisha"
print(name + " got GPA 5. Congratulations to " + name)

Maisha got GPA 5. Congratulations to Maisha

In [ ]:
Name = input ("Please give your name: ")
print(Name + " got GPA 5. Cogratulations to " + Name)

Please give your name: suraim
suraim got GPA 5. Cogratulations to suraim

In [ ]:
a = float(input("Enter a number: "))
b = float(input("Enter another number: "))
result = int(a+b)
print((result))

Enter a number: 2
Enter another number: 4
6

In [ ]:
print(5>7)
print(bool("haha"))
print(bool(""))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(True))
print(bool(False))
print(bool([]))
print(bool({}))
print(bool(()))
print(bool(-1))
print(bool(5))

False
True
False
True
False
False
True
False
False
False
False
True
True

#operators

1. Arithmetic Operators(+ , - , * , / , % , **(power))
2. Comparison/Relational Operators(==,<=,>=,<,>,!=)
3. Assignment Operators(=,+=,-=,*=,/=,%=,**=, &=,|=,^=,>>=,<<=)
4. Logical Operators(and, or, not)
5. Identity Operators(is, is not)
6. Membership Operators(in, not in)
7. Bitwise Operators(&,|,^,~,<<,>>)

In [ ]:
p = 9
q = 4
print(p+q)
print(p-q)
print(p*q)
print(p/q)
print(p%q)
print(p**q)

13
5
36
2.25
1
6561

In [ ]:
print(p==q)
print(p<=q)
print(p>=q)
print(p<q)
print(p>q)
print(p!=q)

False
True
False
True
False
True

In [ ]:
p+=q
print(p)
p-=q
print(p)
p*=q
print(p)
p/=q
print(p)
p%=q
print(p)
p**=q
print(p)
#p&=q
#print(p)
#p|=q
#print(p)
#p^=q
#print(p)
#p>>=2
#print(p)
#p<<=2
#print(p)

13
9
36
9.0
1.0
1.0

In [ ]:
a=5
# & -> and
if (a<7 and a>3):
  print("True")
else:
  print("False")

b = 8
# | -> or
if (b<7 or b>3):
  print("True")
else:
  print("False")

c = 5
# ! -> not
if (not(c<7 and c>3)):
  print("True")
else:
  print("False")

True
True
False

In [ ]:
m = 11; n = 19;
print(m&n)
print(m|n)
print(m^n)
print(~m)
print(m>>2)
print(m<<2)

3
27
24
-12
2
44

# List

Declaration:
variableName = [None]*size
/
variableNAme = []

Initialization:
variableName = [int, float, string]

# Set

Declaration:
variableName = {}

initialization:
variableName = {int,float,string}

Order of the elements of a set:
Integer > String > Float


A Set/List can contain multiple integer numbers, float numbers or strings in it. Furthermore A List can contain multiple sets or lists inside it.
But every elements of a list has an index while the elements of a set doesn't.
A list can have higher dimentions.but a set will always be 1D. That means, a list can contain multiple list or set inside of it but a set couldn't.

In [ ]:
li1 = [1,2,4,6]
print(li1)

li1.append(16)
print(li1)

li1.append("Suraim")
print(li1)

li1.remove(2)
li1

[1, 2, 4, 6]
[1, 2, 4, 6, 16]
[1, 2, 4, 6, 16, 'Suraim']

[1, 4, 6, 16, 'Suraim']

#Indexing

1. Left to Right: 0,1,2,3...
2. Right to Left: -1,-2,-3...

In [ ]:
li1[0] = 9
li1[-2] = "Towanur"
print(li1)
li1[-1],li1[-2] = li1[-2],li1[-1]
print(li1)
#del(li1)
#print(li1) (Error: li1 is not defined)
li1.clear()
print(li1) #(All the elements will be deleted.Empty list will remain)

[9, 4, 6, 'Towanur', 'Suraim']
[9, 4, 6, 'Suraim', 'Towanur']
[]

In [ ]:
li2 = [1,23,4.5,"ST"]
print(li2)
li1.append(37)
sum = li1 + li2
print(sum)
li3 = []
li3.append({1,2,4,6.5,9,"ME"})
print(li3)
li3.append(li2)
print(li3)
li3.append(49)
print(li3)
s = {0,5.5,8,"Hi"}
print(s)

[1, 23, 4.5, 'ST']
[37, 1, 23, 4.5, 'ST']
[{1, 2, 4, 6.5, 9, 'ME'}]
[{1, 2, 4, 6.5, 9, 'ME'}, [1, 23, 4.5, 'ST']]
[{1, 2, 4, 6.5, 9, 'ME'}, [1, 23, 4.5, 'ST'], 49]
{0, 8, 'Hi', 5.5}

#Tuple
one type of data structure

Declaration:
variableName = ()

Initialization:
variableName = (int, float, string)

### Tuple can be converted to list.
No changes can be occured in a tuple. That is why, a tuple is usually converted to a list.

In [219]:
tup1 = (0,4,3,0.5,"HI")
print(tup1)

#convertion
y = list(tup1)
print(y)
y[1] = 9
print(y)
tup1 = tuple(y)
print(tup1)

tup2 = list(tup1)
tup2.remove("HI")
print(tuple(tup2))
print(tuple(tup2[1:3])) #(print indexing:[startingIndex : endingIndex+1])

(0, 4, 3, 0.5, 'HI')
[0, 4, 3, 0.5, 'HI']
[0, 9, 3, 0.5, 'HI']
(0, 9, 3, 0.5, 'HI')
(0, 9, 3, 0.5)
(9, 3)